<div class="p-grid p-fluid p-jc-center p-mt-5">
    <div class="p-col-11 p-shadow-5 p-p-5">
        <div class="card">
            <div class="header">
                <p-header class="p-p-5">
                    <h2>List User</h2>
                </p-header>
            </div>
            <div class="btn-create p-mt-3 p-mb-3 p-text-right">
                <button icon="pi pi-plus" label="Add User" pButton type="button" 
                class="p-button-info p-ml-2" style="width: 160px;" routerLink="/add-user">
                </button>                            
            </div> 
            <p-dialog header="Edit User" [(visible)]="display" [style]="{width:'40vw'}">
                <div class="p-text-center">
                    <img src="../../../assets/laundry-logo1.jpg" height="150px" width="150px">
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-mt-3">
                        <span class="p-float-label">
                            <input type="text" pInputText>
                            <label for="inputtext">input your username</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-mt-3">
                        <span class="p-float-label">
                            <input type="password" pInputText>
                            <label for="inputtext">input your password</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-mt-3">
                        <span class="p-float-label">
                            <p-dropdown [options]="role" [(ngModel)]="roleSelected" optionLabel="roleCode"></p-dropdown>
                            <label for="dropdown">Choose Role Code</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-mt-3">
                        <span class="p-float-label">
                            <input type="text" pInputText>
                            <label for="inputtext">input your name</label>
                        </span>
                    </div>
                    <div class="p-field p-col p-mt-3">
                        <span class="p-float-label">
                            <p-dropdown [options]="gender" [(ngModel)]="genderSelected" optionLabel="gender"></p-dropdown>
                            <label for="dropdown">Choose Gender</label>
                        </span>
                    </div>
                    <div class="p-field p-col p-mt-3">
                        <span class="p-float-label">
                            <input type="text" pInputText>
                            <label for="inputtext">input your phone number</label>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-mt-3">
                        <span class="p-float-label">
                            <input type="text"  pInputText>
                            <label for="inputtext">input your address</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        <div class="btn-create p-text-right">
                            <button pButton type="button" label="Submit" class="p-button-info p-ml-2" style="width: 80px;"
                                (click)="display=false"></button>
                        </div>
                    </div>
                </div>
            </p-dialog>
            <p-table [value]="user">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Gender</th>
                        <th>Username</th>
                        <th>Role Code</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{user.profileId.name}}</td>
                        <td>{{user.profileId.address}}</td>
                        <td>{{user.profileId.phoneNumber}}</td>
                        <td>{{user.profileId.gender}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.roleId.roleCode}}</td>
                        <td>
                            <button pButton (click)="showDialog()" icon="pi pi-pencil" type="button" label="edit" class="p-button-outlined" style="width: 100px;"></button>&nbsp;
                            <button pButton icon="pi pi-trash" type="button" label="delete" class="p-button-outlined p-button-danger p-mt-2" style="width: 100px;"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>