<div class="p-grid p-fluid p-justify-center p-mt-5">
    <div class="p-col-6 p-shadow-5 p-p-5">
        <div class="header">
            <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded"
            routerLink="/list-laundry-type"></button>
        </div>
        <div class="p-text-center">
            <img src="../../../assets/laundry-logo1.jpg" height="150px" width="150px">
        </div>
        <div class="p-field p-col-12 p-mt-3">
            <span class="p-float-label">
                <input type="text" pInputText> 
                <label for="inputtext">input your laundry type name</label>
            </span>
        </div>
        <div class="p-field p-col-12">
            <span class="p-float-label">
                <input type="text" pInputText>  
                <label for="inputtext">input your laundry type code</label>
            </span>
        </div>
        <div class="p-field p-col-12">
            <span class="p-float-label">
                <input type="text" pInputText>  
                <label for="inputtext">input your laundry type price</label>
            </span>
        </div>

        <div class="p-field p-col-12 p-mt-4">
            <span class="p-float-label">
                <p-dropdown [options]="durationType" [(ngModel)]="durationTypeSelected" optionLabel="durationTypeCode"></p-dropdown>
                <label for="dropdown">Duration Type Code</label>
            </span>
        </div>
        <div class="p-col-12">
            <div class="btn-create p-text-right">
                <button pButton type="button" label="Submit" class="p-button-info p-ml-2" 
                style="width: 80px;" routerLink="/list-laundry-type"></button>
            </div> 
        </div>
    </div>
</div>